.footer {
    color: white; // Set the text color for the footer
    text-align: center;
    position: relative;
    width: 100%;
    overflow-x: hidden;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px; // Adjust padding for better layout

        .links-container {
            ul {
                list-style-type: none;
                display: flex;
                padding: 0;

                li {
                    margin: 0 20px; // Space out the links

                    a {
                        color: white; // Ensure link color is white
                        text-decoration: none;
                        transition: color 0.3s ease;

                        &:hover {
                            color: #26a69a; // Highlight color on hover
                        }
                    }
                }
            }
        }

        .trademark-container {
            p {
                margin: 0;
                font-size: 1rem; // Adjust font size as needed
                color: white; // Ensure the color is set to white
            }
        }
    }
}
