@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Lato:wght@400;500&display=swap');

// Define your color palette and other variables
$mint-green: #3eb489;
$mint-dark: #006D5B;
$contrast-white: #FFFFFF;
$dark-text: #1A1A1A;
$light-text: #7D7D7D;

html {
  scroll-behavior: smooth;
}

.app {
  font-family: 'Lato', sans-serif;
  background-color: $contrast-white;
  color: $dark-text;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 60px;
  background-color: $mint-dark;
  color: $contrast-white;
}

.content-container {
  padding-top: 60px; // Equal to the Navbar's height
  padding-bottom: 60px; // Equal to the Footer's height
  min-height: calc(100vh - 120px); // Adjust based on Navbar and Footer height
}

.hero {
  background: linear-gradient(rgba($mint-dark, 0.7), rgba($mint-dark, 0.7)), url('/hero-banner-3.jpg');
  background-size: cover;
  text-align: center;
  padding: 50px 20px;

  h1 {
    font-family: 'Poppins', sans-serif;
    color: $contrast-white;
    font-size: 2.5rem;
  }

  p {
    font-family: 'Poppins', sans-serif;
    color: $light-text;
    font-size: 1.2rem;
  }

  .signup-button, .login-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: $mint-green;
    color: $contrast-white;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: darken($mint-green, 10%);
    }
  }

  .login-button {
    background-color: $contrast-white;
    color: $mint-dark;
    border: 2px solid $mint-dark;
  }
}

.sections {
  .trending-content, .discovery-content, .workshops-content, .reviews-content {
    margin-top: 40px;

    h2 {
      color: $mint-dark;
      font-size: 1.8rem;
    }
  }
}

.footer-container {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: $dark-text;
  color: $contrast-white;
  text-align: center;
  padding: 20px;
}

// Responsive design adjustments
@media (max-width: 768px) {
  .hero {
    padding: 30px 10px;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
