$mint-green: #3eb489;
$mint-light: #7ce5a6;
$mint-dark: #006D5B;
$ice-blue: #E6FFFA;
$darker-ice-blue: #11b0a8;
$contrast-white: #FFFFFF;
$soft-gray: #505050;
$dark-text: #1A1A1A;
$light-text: #7D7D7D;
$peach-pink: #e3ffec